.cart {
  width: 100%;
  max-width: 40rem;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-semibold);
  background-color: var(--clr-white);
  border-radius: 12px;
  padding: 1.5rem;
  justify-self: center;
}

@media (min-width: 90rem) {
  .cart {
    grid-area: cart;
  }
}

.heading {
  font-size: var(--fs-body-lg);
  color: var(--clr-red);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totalPriceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPriceText {
  font-weight: var(--fw-regular);
}

.totalPrice {
  font-size: var(--fs-body-lg);
  font-weight: var(--fw-bold);
}
