.item {
  display: grid;
  gap: 1rem;
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-semibold);
}

.itemOuterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.itemInnerWrapper {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "image name"
    "image count-price";
  gap: 0.5rem 1rem;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
  grid-area: image;
}

.countPriceWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  grid-area: count-price;
}

.itemCount {
  color: var(--clr-red);
}

.price {
  font-weight: var(--fw-regular);
  color: var(--clr-rose-500);
}

.subTotal {
  font-size: var(--fs-body-md);
}

.divider {
  border-bottom: 1px solid var(--clr-rose-100);
}
