.wrapper {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-body-sm);
  color: var(--clr-white);
  background-color: var(--clr-red);
  border: 1px solid var(--clr-red);
  border-radius: 100vw;
  padding: 0.75rem 0.75rem;
  grid-column: 1;
  grid-row: 2 / 4;
  justify-self: center;
}

.button {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--clr-white);
  border-radius: 100vw;
  outline-color: var(--clr-white);
  cursor: pointer;
}

.buttonIcon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--clr-white);
  }

  .button:hover .buttonIcon {
    color: var(--clr-red);
  }
}
