.button {
  width: 100%;
  font-size: var(--fs-body-md);
  font-weight: var(--fw-semibold);
  color: var(--clr-white);
  background-color: var(--clr-red);
  border: 1px solid var(--clr-red);
  border-radius: 100vw;
  padding: 1rem 1.5rem;
  outline-color: var(--clr-red);
  cursor: pointer;
}

.button:active {
  background-color: var(--clr-red-hover);
  border-color: var(--clr-red-hover);
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--clr-red-hover);
    border-color: var(--clr-red-hover);
  }
}
