.emptyCartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0rem;
}

.image {
  width: 8rem;
  height: 8rem;
}

.text {
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-semibold);
  color: var(--clr-rose-500);
}
