.dialog {
  background-color: var(--clr-white);
  border: none;
  border-radius: 12px;
  padding: 1.5rem;
  margin: auto;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 36rem) {
  .dialog {
    padding: 2.5rem;
  }
}

.topWrapper {
  display: grid;
  justify-items: start;
  gap: 1.5rem;
}

.textWrapper {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
}

.heading {
  font-size: var(--fs-body-xlg);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--clr-rose-900);
}

.text {
  font-size: var(--fs-body-md);
  font-weight: var(--fw-regular);
  color: var(--clr-rose-500);
}

.bottomWrapper {
  display: grid;
  gap: 1.5rem;
  background-color: var(--clr-rose-50);
  border-radius: 8px;
  padding: 1.5rem;
}

.modalItems {
  display: grid;
  gap: 1rem;
}

.orderTotalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderTotalText {
  font-size: var(--fs-body-sm);
  font-weight: var(--fw-regular);
}

.orderTotalPrice {
  font-size: var(--fs-body-lg);
  font-weight: var(--fw-bold);
}
