@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Red-Hat-Text";
    font-weight: 300 700;
    src: url("/assets/fonts/RedHatText-VariableFont_wght.woff2");
  }

  *:focus-visible {
    outline: 0.125rem dotted green;
    outline-offset: 0.125rem;
  }
}
