.foodItems {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 36rem) {
  .foodItems {
    grid-template-columns: repeat(auto-fit, minmax(13.25rem, 1fr));
    gap: 2rem 1.5rem;
  }
}

@media (min-width: 90rem) {
  .foodItems {
    grid-template-columns: repeat(auto-fit, 15.625rem);
    grid-area: fooditems;
  }
}
